$backgroundColor: #DBDCEE;
$titleColor: #151515;
$mainColor: #757575;
$primaryBackground: #5F65F6;
$secondaryBackground: #F5F7FB;
$primaryColor: #fff;
$secondaryColor: rgba(21, 25, 32, 0.5);
$mobile: 320px;
$tablet: 768px;
$desctop: 1200px;
$borderRadius: 23.24px;
$bottomBlock: 1.4rem;
$bgGrey: #878C93;
$bgBlue: #6153CC;
$bgOrange: #FF715B;
$bgBlack: $titleColor;
$bgYellow: #FFB627;